.x{
  
  background-color: rgb(23, 23, 23);
  min-height: 100vh !important;
  
}

.makeStyles-topLayout-3{
    margin: 0px !important;
    
}

.MuiStepIcon-root.MuiStepIcon-active{
    color:#03a84e !important;
}
.MuiButton-containedPrimary {
    background-color:#03a84e !important;
}

.makeStyles-logo-1{
    color:#03a84e !important;
}
.makeStyles-border-2{
    border: 0.15rem solid #03a84e !important;
}
.MuiStepIcon-root.MuiStepIcon-completed{
    color:#03a84e !important;
}
.makeStyles-paperLayout-4{
    margin:5rem auto !important;
}
.makeStyles-errorMessage-216{
    margin-bottom: 10px !important;
}
.makeStyles-root-214{
    margin-bottom: 16px !important;
}

.MuiGrid-spacing-xs-1 > .MuiGrid-item{
    padding: 0px !important;
}