
.layout-out-application{
    background-color:   #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;

}

.register-form-application {
    padding: 2.5em 5em;
    background-color: whitesmoke;
    border: 1px solid #E7E7E7;
    margin-top: 50px;

}

.header-form-application{
    font-size: 24px;
    color: #282828;
    text-align: center;
  
}
.makeStyles-topLayout-3{
    margin: 0px !important;
    
}

.MuiStepIcon-root.MuiStepIcon-active{
    color:#03a84e !important;
}
.MuiButton-containedPrimary {
    background-color:#03a84e !important;
}

.makeStyles-logo-1{
    color:#03a84e !important;
}
.makeStyles-border-2{
    border: 0.15rem solid #03a84e !important;
}
.MuiStepIcon-root.MuiStepIcon-completed{
    color:#03a84e !important;
}
.makeStyles-paperLayout-4{
    margin:5rem auto !important;
}
.makeStyles-errorMessage-216{
    margin-bottom: 10px !important;
}
.makeStyles-root-214{
    margin-bottom: 16px !important;
}

.MuiGrid-spacing-xs-1 > .MuiGrid-item{
    padding: 0px !important;
}

.btn-modal{
    color:#03a84e;
}

.btn-register{
    background-color: #03a84e !important;
    border-color: #03a84e !important;
    color: #fff !important;
    margin-left: 20%;
    font-size: 16px !important;
   
}

.ant-form-item-label{
    width: 20% !important;
}


.ant-form label{
    font-size: 16px !important;
}

.reply-header{
    color:#03a84e;
    text-align: center;
    font-size: 30px;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 30px;
}
.reply-text{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 145%;
    font-weight: 300;
    
    word-break: break-word;
}

.ant-input{
    width: 50% !important;
}