.header-2{
    color:#03a84e;
    text-align: center;
    font-size: 30px;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 30px;
}

.normal-text{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 145%;
    font-weight: 300;
    
    word-break: break-word;
    
    
}
 .green-text{
    color:#03a84e;
    text-align: center;
    font-size: 27px;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 350 !important;  
} 

.box-co{
    width: 100% ;
    display: block ;
    height: 90%;
    
}

