.header-2{
    color:#03a84e;
    text-align: center;
    font-size: 36px;
    font-weight: 1;
    margin-top: 80px;
    margin-bottom: 40px;
}

.normal-text{
    color: #FFFFFF;
    
    
    
}

.green-text{
    color:#03a84e;
    text-align: center;
    font-size: 24px !important;
    font-weight: 1 !important;
}