
/* Toggle Styles */

.viewport {
  padding-left: 250px;
  height: 100vh;
}

.content {
  width: 100%;
  position: relative;
  margin-right: 0;
  border-bottom: 1px solid #03a84e;
  color: #fff;
  padding:40px 0px 14px 20px;

}

/* Sidebar Styles */

.sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #171717;
  
  border-right: 1px solid #03a84e;
  
}

.sidebar header {
  background-color: #171717;
 
  line-height: 52px;
  text-align: center;
  border-bottom: 1px solid #03a84e;
}


.sidebarmenu{
    flex: none !important;
    border-bottom: 1px solid #03a84e;
    padding:15px 0px 15px 30px;
    font-size: 12px;
    color: #6c757d;
}

.sidebarmenu:hover{
  background-color: #03a84e;
  transition: background-color 0.3s;
  color: #fff;
}


.sidebarmenu2{
    list-style-type: none;
    padding-inline-start: 0px;
    
}
.headimg{
    padding: 15px;
    
}

.main-table-scope{
  color: #03a84e;
  
}
.main-table-data-1{
  color: #fff;
}
.main-table-data-2{
  color: #fff;
  background-color:#1b1b1b !important;
}

.table td, .table th{
  border-top: 0 !important;
  font-size: 15px;
  font-weight: normal;
}
.table thead th{
  border-bottom: 2px solid #03a84e !important;
  font-size: 15px;
  
}

.showdatapage-layout{
  background-color: #171717 !important;
  height: 75vh;
  
  
}
.personalinfo-layout{
  background-color: #292929!important;
  height: 90%;
 
  margin: 50px 50px 20px 50px;
}

.personalinfo-header{
  color:#03a84e;
  
    font-size: 30px;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 10px;

}

.showdata-close-button{
  text-align: center;
}

.personalinfo-info-resume{
  color: #1189F8;
    font-size: 15px;
    line-height: 145%;
    font-weight: 300;
    padding-left: 20px;
    word-break: break-word;
    margin: 4px;

}
.box{
  margin: auto;
  display: block;
}
.box > span:nth-child(1){
  width: 45%;
 
  text-align: right;
  color: #03a84e;
  font-size: 15px;
  line-height: 145%;
  font-weight: 400;
  word-break: break-word;
  margin-bottom: 10px;
}
.box > span:nth-child(2){
  width: 45%;
  text-align: left;
  margin-left: 20px;
  color: #FFFFFF;
    font-size: 15px;
    line-height: 145%;
    font-weight: 300;
    word-break: break-word;
    margin-bottom: 10px;
    
}


