.auth-box {
    background-color: #171717;
    border: 0px;
    padding: 80px;
    width: 500px;
    height: auto;
    margin: auto;
    
  }
  
  .auth-box-2 {
    background-color: #171717;
    height: 100vh;
    display: flex;
    align-items: center;
    
  }
  .auth-box input {
    border: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    margin: 40px auto;
    
    font-size: 14px;
    color: #000;
  }
  
  .auth-box .btn-primary {
    width: 100%;
    padding: 10px;
    border: 0px;
    background: #03a84e;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #039243, #02fd73);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .auth-box .topic {
    font-weight: 600;
    letter-spacing: 2px;
    color: #03a84e;
  }
  
  .auth-box .line {
    background: linear-gradient(#222, #222), linear-gradient(to right, #02fd73, #03a84e);
    background-origin: padding-box, border-box;
    background-repeat: no-repeat;
    /* this is important */
    border: 3px solid transparent;
    width: 20%;
  }

  










  