.footer-font{
    font-size: 15px;
    
    color:#383d41;
    
}
.footer-bg{
    background-color: #0d0d0d ;
    padding: 17px 0 0 0;
    text-align: center;
    
}
.footer-font-link{
    text-decoration: none;
}
.footer-font-link:hover{
    text-decoration: underline !important;
    color:#03a84e !important;

}

