
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap');

body, html{
  margin: 0;
  padding:0;
  width: 100vw ;
  font-family: 'Lato', sans-serif !important;
  background-color: #0d0d0d !important;
  
  
  
}

.fixed-top{
  z-index: 200 !important;
}
a:hover {
  text-decoration:none !important;
}

button:focus {
  text-decoration:none !important;
  outline:0 !important;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .font-color{
  
    font-size: 15px !important;
    
}
.carousel-size{
  max-width: 100% !important;
  padding: 0px !important;
}


  .header{
    color:#03a84e;
    
    font-size: 22px !important;
    
    margin-top: 30px !important;

}

  
  .pp-ul-padding{
    
    padding-inline-start: 15px;
}
  .fix-app-form{
    width:100% !important;
  }
  .normal-text{
  
  font-size: 15px !important;
  
  }
  .header-2{
    
    font-size: 27px !important;
    
}

.card-font{
   
 
  font-size: 15px !important;
  

}
.header-card{
  
  font-size: 27px !important;
  
  
 
}

}